<html>
<header class="main-header" role="banner">
</header>
<body>
<nav class="onglets">
  <img class="banner_image" src="assets/images/banniere.png" alt="Banner Image"/>
  <button class="onglet" (click)="toMain()">Accueil</button>
  <button class="onglet" (click)="toCurrentYear()">Cette année</button>
  <button class="onglet" (click)="toHistoric()">Historique</button>
  <button class="onglet" (click)="toArtists()">Artistes</button>
  <button class="onglet" (click)="toConnexion()">Connexion</button>
  
</nav>
<h2>42e édition des Trans Musicales</h2>

<div class="contenu">
<table class="tableau">
	<thead>
		<th class="header">artiste</th>
		<th class="header">pays</th>
		<th class="header">ville</th>
		<th class="header">salle</th>
		<th class="header">date</th> 
		<th class="header">prix</th>
	</thead>
	<tr *ngFor="let concert of concerts">
		<td>{{concert.fields.artist}}</td>
		<td>{{concert.fields.country}}</td>
		<td>{{concert.fields.city}}</td>
		<td>{{concert.fields.room}}</td>
		<td>{{concert.fields.firstdate}}</td>
		<td>{{concert.price}}€</td>
		<td><button (click)="delete()">modifier</button></td>
		<td><button (click)="update()">supprimer</button></td>
		
	</tr>
</table>
</div>
<button class="button" (click)="createConcert()">Ajouter un artiste</button>


</body>
</html>