<html>
<header class="main-header" role="banner">
</header>
<body>
<nav class="onglets">
  <img class="banner_image" src="assets/images/banniere.png" alt="Banner Image"/>
  <button class="onglet" (click)="toMain()">Accueil</button>
  <button class="onglet" (click)="toCurrentYear()">Cette année</button>
  <button class="onglet" (click)="toHistoric()">Historique</button>
  <button class="onglet" (click)="toArtists()">Artistes</button>
  <button class="onglet" (click)="toConnexion()">Connexion</button>
  
</nav>
<table>
	<thead>
		<tr>
		<th>édition</th>
		<th>année</th>
		</tr>
	</thead>
	<tr *ngFor="let transmusicale of transmusicales">
		<td>{{transmusicale.edition}}</td>
		<td>{{transmusicale.year}}</td>
	</tr>
</table>

</body>
</html>