body{
	background-color:white;
}

.banner{
	text-align:center;
}
.banner_image{
	height:100px;
	width:150px;
	vertical-align: left;
}

.onglets{
	margin-top:30px;
	margin-bottom:30px;
	text-align:center;
}

.onglet{
	width:200px;
	height:50px;
	margin-right:20px;
	margin-left:20px;
	background-color:grey;
	color:black;
	font-size:25px;
	border-radius:30px;
}
.ongletactif{
	width:200px;
	height:50px;
	margin-right:20px;
	margin-left:20px;
	background-color:red;
	color:blue;
	font-size:25px;
	border-radius:30px;
}

.tableau{
	margin: 0 auto;
	text-align:center;
	background-color:white;
	border-style:solid;
	border-radius:20px;
}

.row{
	background-color:red;
	color:green;
	border-style:solid;
}

.colonne{
	background-color:black;
}

.header{
	color:black;
	width:230px;
	height:40px;
	font-size:20px;
}

.case{
	background-color:white;
}

.contenu{
	horizontal-align:center;
}

.form-group{
	width:100px;
	padding-top:30px;	
}

.label{
	padding-right:50px;
	color:black;
	
}

.button{
	font-size:20px;
	background-color:grey;
	text-align:center;
	width:200px;
	height:50px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:20px;
	margin-right:20px;
	border-radius:30px;
	
}