<html>
<header class="main-header" role="banner">
</header>
<body>
<div class="banner">
  <img class="banner_image" src="assets/images/banniere.png" alt="Banner Image"/>
</div>
<div class="onglets">
  <button class="onglet" (click)="toMain()">accueil</button>
  <button class="onglet" (click)="toCurrentYear()">cette année</button>
  <button class="onglet" (click)="toHistoric()">historique</button>
  <button class="onglet" (click)="toArtists()">artistes</button>
</div>
<div class="contenu">
<table class="tableau">
	<thead>
		<tr>
		<th class="header">Groupe</th>
		<th class="header">Concert</th>
		<th class="header">Date</th>
		<th class="header">Edition</th>
		</tr>
	</thead>
	<tr class="colonne" *ngFor="let artist of artists">
		<td class="case">{{artist.nomGroupe}}</td>
		<td class="case">{{artist.nom_spectacle_ou_soiree}}</td>
		<td class="case">{{artist.dateConcert}}</td>
		<td class="case">{{artist.edition}}</td>
	</tr>
</table>
</div>
</body>
</html>