
	          <h2 class="card-title">Ajout d'un concert</h2>
	          <form (ngSubmit)="onCreateConcert()" #userForm="ngForm">
	            <div class="form-group">
	              <label class="label" for="city">Artiste</label>
	              <input type="text" [(ngModel)]="concert.fields.artist"
	                     class="form-control"
	                     id="artist"
	                     name="artist"
	                     value="Jean Paul"
	                     required #name="ngModel">
	            </div>
	            <div class="form-group">
	              <label class="label" for="city">Ville</label>
	              <input type="text" [(ngModel)]="concert.fields.city"
	                     class="form-control"
	                     id="city"
	                     name="city"
	                     value="Rennes"
	                     required #name="ngModel">
	            </div>
	            <div class="form-group">
	              <label class="label" for="spotify">Spotify</label>
	              <input type="text" [(ngModel)]="concert.fields.spotify"
	                     class="form-control"
	                     id="spotify"
	                     name="spotify"
	                     value=""
	                     required #name="ngModel">
	            </div>
	            <div class="form-group">
	              <label class="label" for="spotify">Salle</label>
	              <input type="text" [(ngModel)]="concert.fields.room"
	                     class="form-control"
	                     id="room"
	                     name="room"
	                     value="Salle de concert"
	                     required #name="ngModel">
	            </div>
	            <div class="form-group">
	              <label class="label" for="deezer">Deezer</label>
	              <input type="number" [(ngModel)]="concert.fields.deezer"
	                     class="form-control"
	                     id="deezer"
	                     name="deezer"
	                     value=""
	                     required #name="ngModel">
	            </div>
	            <div class="form-group">
	              <label class="label" for="edition">Edition</label>
	              <input type="text" [(ngModel)]="concert.fields.edition"
	                     class="form-control"
	                     id="edition"
	                     name="edition"
	                     value="42"
	                     required #name="ngModel">
	            </div>
	            <div class="form-group">
	              <label class="label" for="firstdate">1ere date</label>
	              <input type="text" [(ngModel)]="concert.fields.firstdate"
	                     class="form-control"
	                     id="firstdate"
	                     name="firstdate"
	                     value="31-Dec-1021"
	                     required #name="ngModel">
	            </div>
	            <div class="form-group">
	              <label class="label" for="country">Pays</label>
	              <input type="text" [(ngModel)]="concert.fields.country"
	                     class="form-control"
	                     id="country"
	                     name="country"
	                     value="France"
	                     required #name="ngModel">
	            </div>

	            <div class="form-group">
	              <label class="label" for="date">Date</label>
	              <input type="date" [(ngModel)]="concert.date"
	                     class="form-control"
	                     id="date"
	                     name="date"
	                     value="31-Dec-1021"
	                     required #name="ngModel">
	            </div>
	            <div class="form-group">
	              <label class="label" for="latitude">Latitude</label>
	              <input type="number" [(ngModel)]="concert.geometry.coordinates.latitude"
	                     class="form-control"
	                     id="latitude"
	                     name="latitude"
	                     value="2"
	                     required #name="ngModel">
	            </div>
	            <div class="form-group">
	              <label class="label" for="longitude">Longitude</label>
	              <input type="number" [(ngModel)]="concert.geometry.coordinates.longitude"
	                     class="form-control"
	                     id="longitude"
	                     name="longitude"
	                     value="2"
	                     required #name="ngModel">
	            </div>
				<div class="form-group">
	              <label class="label" for="price">Prix</label>
	              <input type="number" [(ngModel)]="concert.price"
	                     class="form-control"
	                     id="prix"
	                     name="prix"
	                     value="2"	                     
	                     required #name="ngModel">
	              <label class="label">€</label>
	            </div>
				

	            <button type="submit" class="button">Ajouter l'artiste</button>
	            
	          </form>
