<html>
<header class="main-header" role="banner">
</header>
<body>
<nav class="onglets">
  <img class="banner_image" src="assets/images/banniere.png" alt="Banner Image"/>
  <button class="onglet" (click)="toMain()">Accueil</button>
  <button class="onglet" (click)="toCurrentYear()">Cette année</button>
  <button class="onglet" (click)="toHistoric()">Historique</button>
  <button class="onglet" (click)="toArtists()">Artistes</button>
  <button class="onglet" (click)="toConnexion()">Connexion</button>
</nav>

<div >
	<div>
		<label>Nom d'utilisateur</label>
		<input class="field"/>
	</div>
	<div>
		<label>Mot de passe</label>
		<input class="field"/>
	</div>
	
	<button class="connexion">Connexion</button>
</div>

</body>
</html>