<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Concert</th>
        <th scope="col">List of countries</th>
        <th scope="col">Description</th>
        <th scope="col">List of cities</th>
        <th scope="col">Spotify</th>
        <th scope="col">Deezer</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let artist of artists" id="{{artist.id}}">
        <td>{{ artist.firstname }}</td>
        <td>{{ artist.lastname }}</td>
        <td>{{ artist.concert }}</td>
        <td>{{ artist.listcountries }}</td>
        <td>{{ artist.description }}</td>
        <td>{{ artist.listcities }}</td>
        <td>{{ artist.spotify }}</td>
        <td>{{ artist.deezer }}</td>
        <td><button (click)="onModify(artist.id)">Modify</button></td>
        <td><button (click)="onDelete(artist.id)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
